<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h3>

    <h2>login</h2>
    <form action="/login" method="post">

    <input type="text" name="name" placeholder="Name">
    <input type="password" name="password" placeholder="password">
   <input type="Submit">

    </form>
    <h3>Don't Have an Account <a href="/signup">SignIn</a></h3>
    
</body>
</html>